TELEGRAM_BOT_TOKEN=BotToken -> BotFather
ALLOWED_USER_IDS=Allowed USer Ids -> https://t.me/userinfobot comma seperated
RPC_KEY=RPC Key -> https://www.quicknode.com/ or any other RPC provider (alchemy, drpc) etc.
LI_FI_KEY=Lifi Key -> https://li.fi/dashboard/api-keys